#==========================  Modules configuration ============================
metricbeat.modules:
   {{ metricbeat_modules | to_json }}

{% if beat_output_logstash_enabled %}
#----------------------------- Logstash output --------------------------------
output.logstash:
  # The Logstash hosts
  hosts: {{ beat_output_logstash_hosts | to_json }}

{% if filebeat_ssl_certificate_file and filebeat_ssl_key_file %}
  # Optional TLS. By default is off.
  ssl:
    # List of root certificates for HTTPS server verifications
    #certificate_authorities: ["/etc/pki/root/ca.pem"]

    # Certificate for TLS client authentication
    certificate: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_certificate_file | basename }}"

    # Client Certificate Key
    key: "{{ filebeat_ssl_dir }}/{{ filebeat_ssl_key_file | basename}}"
{% endif %}
{% endif %}

{% if filebeat_enable_logging %}
logging:
  ### Filebeat log
  level: {{ filebeat_log_level }}

  # Enable file rotation with default configuration
  to_files: true

  # Do not log to syslog
  to_syslog: false

  files:
    path: {{ filebeat_log_dir }}
    name: {{ metricbeat_log_filename }}
    keepfiles: 7
{% endif %}